<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="../static/css/output.css ">
<body>
    <div class="App">
        <header class="App-header bg-slate-500 text-2xl font-semibold text-justify">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nobis illo explicabo consequatur quo quidem ullam optio quis suscipit nisi maiores, debitis aspernatur, a vitae commodi temporibus veritatis, ab consequuntur. Quidem accusantium aspernatur illum similique.
        </header>

       
    </div>
</body>

</html>
